:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264253;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
}

header img {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin-left: 1rem;
    color: var(--accent2-color);
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: rgba(38, 66, 83, 0.8);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgba(38, 66, 83, 0.9);
    color: #fff;
    padding: 1rem;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 1rem;
}

section {
    margin: 2rem 0;
    padding: 1rem;
    background-color: var(--secondary-color);
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid var(--accent1-color);
}

.socialmedia a {
    text-decoration: none;
    margin: 0 0.5rem;
}

.socialmedia img {
    width: 30px;
}

.contact-info,
.map,
.employees,
.contact-form {
    margin: 2rem 0;
}

.employees {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.employees figure {
    text-align: center;
}

.employees img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    gap: 0.8rem;
}

.contact-form button {
    padding: 10px;
    background-color: #006994;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #004f70;
}

.map iframe {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
}